<div id="project-selector-component">
  <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 bg-steel-grey bg-opacity-75 transition-opacity" aria-hidden="true"></div>

      <!-- This element is to trick the browser into centering the modal contents. -->
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true"></span>

      <div class="inline-block align-bottom bg-box-grey rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
        <div class="bg-box-grey px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="text-white text-xl pb-2 border-b-2">
            Select Project
          </div>
          <div class="divide-y divide-gray-500">
            <div v-for="(project, idx) in projects"
              :key="'project-list-' + idx"
              @click="setSelectedProject(project)"
              class="flex justify-between text-white cursor-pointer hover:bg-steel-grey py-2">
              <div>
                {{ project.name }}
              </div>
              <div v-if="isSelectedProject(project)">
                <i class="icon-check" />
              </div>
            </div>
          </div>
          <div class="flex justify-end mt-2">
            <div>
              <button class="btn border mr-2">Cancel</button>
              <button @click="confirmedSelectedProject()"
                class="btn btn-primary ${updating ? 'opacity-50 cursor-not-allowed' : '' }">
                Select
              </button>
            </div>
          </div>
          <!-- TODO: implement search box -->
          <!-- TODO: implement project list view -->
        </div>
      </div>
    </div>
  </div>
</div>