apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: 'http'
  name: biodiversity-website-ingress
  namespace: production
  labels:
    app: biodiversity-website
spec:
  rules:
    - host: bio.rfcx.org
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              serviceName: biodiversity-website-service
              servicePort: 80
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: 'http'
    nginx.ingress.kubernetes.io/rewrite-target: /$2
  name: biodiversity-website-with-api-ingress
  namespace: production
  labels:
    app: biodiversity-website
spec:
  rules:
    - host: bio.rfcx.org
      http:
        paths:
          - path: /api(/|$)(.*)
            pathType: Prefix
            backend:
              serviceName: biodiversity-api-service
              servicePort: 80
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/permanent-redirect: https://bio.rfcx.org
  name: biodiversity-website-ingress-legacy-redirect
  namespace: production
  labels:
    app: biodiversity-website
spec:
  rules:
    - host: ba.rfcx.org
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/permanent-redirect: https://arbimon.rfcx.org
  name: arbimon-ingress-org-redirect
  namespace: production
  labels:
    app: biodiversity-website
spec:
  rules:
    - host: arbimon.org
    - host: www.arbimon.org