# Secrets
*.local
*secrets.yaml

# Deps
node_modules

# Build
dist
dist-ssr
lib
*.tgz
*.tsbuildinfo

# Lint
.eslintcache
.stylelintcache
biome.json

# Test
**/coverage/

# Logs
*.log

# OS
.DS_Store
.vite-ssg-temp
.idea/
