# Ignore everything
# ...except json, md, yml/yaml
*.*
!*.json
!*.md
!*.yml
!*.yaml

# Subdirectories (because this is the package root)
*/

# Deps & build
node_modules/
build/
dist/
lib/

# Generated
pnpm-lock.yaml
coverage/
