@use 'sass:map';

$--colors: (
  "white": #fff,
  "black": #000,
  "placeholder": #999,
  "faded-grey": #333,
  "subtle-white": #ffffff90,
  "primary": (
    "light": #e6f3ea,
    "base": #31984F,
    "dark": #25713b,
  ),
  "danger": (
    "light": #e5a4a4,
    "base": #D46767,
    "dark": #7f3e3e,
  ),
  "warning": (
    "light": #ffe166,
    "base": #FFCD00,
    "dark": #997b00,
  ),
  "info" : (
    "base": #45485D,
  ),
  "box-grey" : (
    "base": #45485d,
    "dark": #2f3140,
  ),
  "steel-grey" : (
    "light": #4a4c72,
    "base": #232436,
    "dark": #202031,
  ),
  "mirage-grey" : (
    "light": #E3E3E5,
    "base": #141525,
    "dark": #06060d,
  )
);

  $text-color: (
    "primary": #fff,
    "regular": #fff,
    "secondary": #fff,
    "placeholder": #999,
  ),
  $bg-color: (
    "base": #141525,
  ),
  $border-color: (
    "base": #45485D,
    "light": #232436,
    "lighter": #45485D,
    "extra-light": #45485D,
  ),
  // $select: (
  //   "input-color": var(--el-bg-color-white),
  //   "bg-color": var(--el-bg-color),
  //   "input-focus-border-color": var(--el-text-color-placeholder),
  //   "input-font-size": var(--el-font-size-base)
  // ),
  // $select-dropdown: (
  //   "bg-color": var(--el-bg-color),
  // ),
  // $select-option: (
  //   "hover-background": var(--el-border-color-light),
  // ),
  // $input: (
  //   "bg-color": var(--el-bg-color),
  //   "focus-border": var(--el-bg-color),
  //   "hover-border": var(--el-bg-color),
  // ),
  // $tag: (
  //   "font-size": var(--el-font-size-base)
  // ),
  // $button: (
  //   "bg-color": var(--el-bg-color),
  //   "hover-bg-color": var(--el-color-primary),
  //   "active-bg-color": var(--el-color-primary),
  //   "text-color": var(--el-text-color-regular),
  //   "hover-text-color": var(--el-text-color-regular),
  //   "active-text-color": var(--el-text-color-regular),
  // ),
  // $popover: (
  //   "bg-color": var(--el-color-info)
  // )
);
