@use "sass:map";

$colors: (
  "white": #fff,
  "black": #000,
  "placeholder": #7f7d78,
  "faded-grey": #242424,
  "subtle-white": #f9f6f2,
  "primary": (
    "light": #bdff56,
    "base": #adff2c,
    "dark": #8acc23,
  ),
  "danger": (
    "light": #ff8686,
    "base": #ff6868,
    "dark": #cc5353,
  ),
  "warning": (
    "light": #ffe166,
    "base": #ffcd00,
    "dark": #997b00,
  ),
  "info" : (
    "base": #14130d,
  ),
  "box-grey" : (
    "base": #14130d,
    "dark": #100f0a,
  ),
  "steel-grey" : (
    "light": #4a4942,
    "base": #1e1c13,
    "dark": #18160f,
  ),
  "mirage-grey" : (
    "light": #373639,
    "base": #060508,
    "dark": #040406,
  )
);

@forward "element-plus/theme-chalk/src/dark/var.scss" with (
  $colors: $colors,
  $text-color: (
    "primary": map.get($colors, "white"),
    "regular": map.get($colors, "white"),
    "secondary": map.get($colors, "white"),
    "placeholder": map.get($colors, "placeholder"),
  ),
  $bg-color: (
    "page": map.get($colors, "mirage-grey", "base"),
    "": map.get($colors, "steel-grey", "base"),
    "overlay": map.get($colors, "mirage-grey", "base"),
  ),
  $border-color: (
    "base": map.get($colors, "box-grey", "base"),
    "light": map.get($colors, "steel-grey", "base"),
    "lighter": map.get($colors, "box-grey", "base"),
    "extra-light": map.get($colors, "box-grey", "base"),
  ),
);
