@import "./variables";

.loading-shimmer {
  background: linear-gradient(90deg,#0000 33%,rgba(255,255,255,0.025) 50%,#0000 66%) $color-steel-grey;
  background-size: 300% 100%;
  animation: loadingShimmerKeyframes 1.5s infinite;
}

@keyframes loadingShimmerKeyframes {
  0% { background-position: right }
}
