/*
- For element plus manual color customization purpose.
- Colors related to the color inside `windi.config.ts`.
*/

// ------------ General Color -----------
$color-white: #fff;
$color-black: #000;
$color-placeholder: #7f7d78; // util-gray-01
$color-faded-grey: #242424; // util-gray-03
$color-subtle-white: #f9f6f2; // cloud
$color-brand-primary: #adff2c; // frequency
$color-brand-light: #bdff56;
$color-brand-dark: #8acc23;
$color-danger: #ff6868; // flamingo
$color-danger-light: #ff8686;
$color-danger-dark: #cc5353;
$color-warning: #ffcd00;
$color-warning-light: #ffe166;
$color-warning-dark: #997b00;
$color-info: #14130d; // echo
$color-box-gray: #14130d;
$color-box-gray-dark: #100f0a;
$color-steel-gray: #1e1c13; // moss
$color-steel-gray-light: #4a4942;
$color-steel-gray-dark: #18160f;
$color-mirage-gray: #060508; // pitch
$color-mirage-gray-light: #373639;
$color-mirage-gray-dark: #040406;

// -------------- Text Color ------------
$text-primary-color: $color-white;
$text-warning-color: $color-warning;
$text-danger-color: $color-danger;
