/*
- For element plus manual color customization purpose.
- Colors related to the color inside `windi.config.ts`.
*/

// ------------ General Color -----------
$color-white: #fff;
$color-black: #000;
$color-placeholder: #999;
$color-faded-gray: #333;
$color-subtle-white: #ffffff90;
$color-primary-50: #f2fbf4;
$color-primary-100: #e1f7e7;
$color-primary-200: #c5edd0;
$color-primary-300: #97deab;
$color-primary-400: #62c67f;
$color-primary-500: #3daa5d;
$color-primary-600: #31984f;
$color-primary-700: #276e3b;
$color-primary-800: #235833;
$color-primary-900: #1e492c;
$color-primary: $color-primary-600;
$color-primary-light: $color-primary-500;
$color-primary-dark: $color-primary-700;
$color-danger: #d46767;
$color-danger-light: #e5a4a4;
$color-danger-dark: #7f3e3e;
$color-warning: #ffcd00;
$color-warning-light: #ffe166;
$color-warning-dark: #997b00;
$color-info: #45485d;
$color-box-gray: #45485d;
$color-box-gray-dark: #2f3140;
$color-steel-gray: #232436;
$color-steel-gray-light: #4a4c72;
$color-steel-gray-dark: #202031;
$color-mirage-gray: #141525;
$color-mirage-gray-light: #e3e3e5;
$color-mirage-gray-dark: #06060d;

// -------------- Text Color ------------
$text-primary-color: $color-white;
$text-warning-color: $color-warning;
$text-danger-color: $color-danger;
