/*
- For element plus manual color customization purpose.
- Colors related to the color inside `windi.config.ts`.
*/

// ------------ General Color -----------
$color-white: #fff;
$color-black: #000;
$color-placeholder: #7F7D78; // util-gray-01
$color-faded-grey: #242424; // util-gray-03
$color-subtle-white: #F9F6F2; // cloud
$color-brand-primary: #ADFF2C; // frequency
$color-brand-light: #bdff56;
$color-brand-dark: #8acc23;
$color-danger: #FF6868; // flamingo
$color-danger-light: #ff8686;
$color-danger-dark: #cc5353;
$color-warning: #ffcd00;
$color-warning-light: #ffe166;
$color-warning-dark: #997b00;
$color-info: #14130D; // echo
$color-box-grey: #14130D;
$color-box-grey-dark: #100f0a;
$color-steel-grey: #1E1C13; // moss
$color-steel-grey-light: #4a4942;
$color-steel-grey-dark: #18160f;
$color-mirage-grey: #060508; // pitch
$color-mirage-grey-light: #373639;
$color-mirage-grey-dark: #040406;

// -------------- Text Color ------------
$text-primary-color: $color-white;
$text-warning-color: $color-warning;
$text-danger-color: $color-danger;
