$sc-sm: 700px;
$sc-md: 768px;
$sc-lg: 1024px;
$sc-xl: 1280px;

.dashboard-wrapper {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 1rem;
  grid-template-areas:
    "metric  metric  metric  metric species"
    "graphic graphic graphic graphic species"
    "content content content content species";
  grid-template-columns: 1fr 1fr 1fr 1fr minmax(300px, 1fr);

  .dashboard-metric {
    grid-area: metric;
  }

  .dashboard-species {
    display: flex;
    grid-area: species;
    flex-direction: column;
  }

  .dashboard-graphic {
    grid-area: graphic;

    .graphic-tabs {
      display: flex;
      flex: 1 1 0;
      flex-direction: row;
      align-items: center;
    }
  }
}

@media (max-width: $sc-sm) {
  .dashboard-wrapper {
    grid-template-areas:
      "metric  metric"
      "species species"
      "graphic graphic"
      "content content";
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $sc-lg) and (min-width: $sc-sm) {
  .dashboard-wrapper {
    grid-template-areas:
      "metric"
      "species"
      "graphic"
      "content";
    grid-template-columns: 1fr;

    .dashboard-species {
      flex-direction: row;
      column-gap: 1rem;

      .dashboard-richness {
        flex-basis: 50%;
      }

      .threatened-species {
        flex-basis: 50%;
      }
    }
  }
}
