/* Element plus class customization */

@import "./variables";

/* stylelint-disable selector-class-pattern */
.el-date-editor .el-range-input {
  background-color: $color-mirage-grey !important;
}

.el-picker-panel,
.el-picker-panel__sidebar {
  background-color: $color-mirage-grey !important;
}

.el-popover .el-popper__arrow::before {
  border: none !important;
  background: $color-box-grey !important;
}

.el-input .el-input__inner {
  border: none !important;
  background: $color-box-grey !important;
  &:focus {
    box-shadow: none;
  }
}
/* stylelint-enable selector-class-pattern */
