/* just override what you need */

/*
textColor: { primary: '#fff', warning: '#FFCD00', danger: '#D46767' },
colors: { 'brand-primary': { DEFAULT: '#31984F', light: '#E6F3EA', dark: '#25713b' },
'box-grey': { DEFAULT: '#45485D', dark: '#2f3140' },
'steel-grey': { DEFAULT: '#232436', light: '#4a4c72', dark: '#202031'},
'mirage-grey': { DEFAULT: '#141525', light: '#E3E3E5', dark: '#06060D'},
danger: { DEFAULT: '#D46767', light: '#e5a4a4', dark: '#7f3e3e' },
warning: { DEFAULT: '#FFCD00', light: '#ffe166', dark: '#997b00'}
*/

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "white": #ffffff,
    "black": #000000,
    "primary": (
      "base": #31984F,
    ),
    "warning": (
      "base": #997b00
    ),
    "danger": (
      "base": #D46767,
    ),
    "info" : (
      "base": #45485D,
    )
  ),
  $text-color: (
    "primary": #fff,
    "regular": #fff,
    "secondary": #fff,
    "placeholder": #999,
  ),
  $bg-color: #141525,
  $border-color: (
    "base": #45485D,
    "light": #232436,
    "lighter": #45485D,
    "extra-light": #45485D,
  ),
  $font-size:   (
    "extra-large": 1.25rem,
    "large": 1.125rem,
    "medium": 1rem,
    "base": 1rem,
    "small": 0.875rem,
    "extra-small": 0.75rem,
  ),
  $select: (
    "input-color": var(--el-bg-color-white),
    "bg-color": var(--el-bg-color),
    "input-focus-border-color": var(--el-text-color-placeholder),
    "input-font-size": var(--el-font-size-base)
  ),
  $select-dropdown: (
    "bg-color": var(--el-bg-color),
  ),
  $select-option: (
    "hover-background": var(--el-border-color-light),
  ),
  $input: (
    "bg-color": var(--el-bg-color),
    "focus-border": var(--el-bg-color),
    "hover-border": var(--el-bg-color),
  ),
  $tag: (
    "font-size": var(--el-font-size-base)
  ),
  $button: (
    "bg-color": var(--el-bg-color),
    "hover-bg-color": var(--el-color-primary),
    "active-bg-color": var(--el-color-primary),
    "text-color": var(--el-text-color-regular),
    "hover-text-color": var(--el-text-color-regular),
    "active-text-color": var(--el-text-color-regular),
  ),
  $popover: (
    "bg-color": var(--el-color-info)
  )
);
