@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Mono:wght@400;500&display=swap");
@import "@/_styles/custom-element";
@import "@/_styles/shimmer";

@tailwind base;
@tailwind components;
@tailwind utilities;

// Extended font

@font-face {
  font-family: ABCFavoritExtended;
  font-display: auto;
  font-weight: 500; // Medium
  src:
    url("@/_services/assets/ABCFavoritExtended-Medium.woff") format("woff"), /* Modern Browsers */
    url("@/_services/assets/ABCFavoritExtendedVariable.ttf")  format("truetype"); /* Safari, Android, iOS */
}

// Expanded font

@font-face {
  font-family: ABCFavoritExpanded;
  font-display: auto;
  font-weight: 500;
  src:
    url("@/_services/assets/ABCFavoritExpanded-Medium.woff") format("woff"), /* Modern Browsers */
    url("@/_services/assets/ABCFavoritExpandedVariable.ttf")  format("truetype"); /* Safari, Android, iOS */
}

@layer base {
  html {
    @apply antialiased;
  }

  h1,
  h2 {
    @apply font-header;
    @apply font-medium;
  }
}
