@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");
@import "@/_styles/custom-element";
@import "@/_styles/shimmer";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ABCFavorit;
  font-display: auto;
  src:
    url("@/_services/assets/ABCFavoritExtended-Regular.woff") format("woff"), /* Modern Browsers */
    url("@/_services/assets/ABCFavoritExtendedVariable.ttf")  format("truetype"); /* Safari, Android, iOS */
}

@layer base {

  html {
    @apply antialiased;
  }
  
  body,
  p,
  a,
  button,
  li,
  div,
  span {
    @apply font-body;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
    @apply font-medium;
  }

  h6 {
    @apply text-xl;
  }

  .btn {
    @apply font-display;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  h4 {
    @apply text-base;
  }
}

@screen md {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }
}

@screen lg {
  h1,
  h2 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }
}
