@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap");
@import "@/_styles/custom-element";
@import "@/_styles/shimmer";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ABCFavorit;
  font-display: auto;
  src:
    url("@/_services/assets/ABCFavoritExtended-Regular.woff") format("woff"), /* Modern Browsers */
    url("@/_services/assets/ABCFavoritExtendedVariable.ttf")  format("truetype"); /* Safari, Android, iOS */
}

@layer base {
  body {
    @apply font-body;
  }

  h1,
  h2 {
    @apply font-display;
    @apply font-medium;
  }

  .btn {
    @apply font-display;
  }
}

@screen sm {
  h1,
  h2 {
    @apply text-2xl;
  }
}

@screen md {
  h1,
  h2 {
    @apply text-3xl;
  }
}

@screen lg {
  h1,
  h2 {
    @apply text-4xl;
  }
}
