@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Mono:wght@400;500&display=swap");
@import "@/_styles/custom-element";
@import "@/_styles/shimmer";

@tailwind base;
@tailwind components;
@tailwind utilities;

// Extended font

@font-face {
  font-family: ABCFavoritExtended;
  font-display: auto;
  font-weight: 500; // Medium
  src:
    url("@/_services/assets/ABCFavoritExtended-Medium.woff") format("woff"), /* Modern Browsers */
    url("@/_services/assets/ABCFavoritExtendedVariable.ttf")  format("truetype"); /* Safari, Android, iOS */
}

// Expanded font

@font-face {
  font-family: ABCFavoritExpanded;
  font-display: auto;
  font-weight: 500;
  src:
    url("@/_services/assets/ABCFavoritExpanded-Medium.woff") format("woff"), /* Modern Browsers */
    url("@/_services/assets/ABCFavoritExpandedVariable.ttf")  format("truetype"); /* Safari, Android, iOS */
}

@layer base {
  html {
    @apply antialiased;
  }

  h1,
  h2 {
    @apply font-header;
    @apply font-medium;
  }

  h6 {
    @apply text-xl;
  }

  h1 {
    @apply text-2xl; // 24px
  }

  h2 {
    @apply text-xl; // 20px
  }

  h3 {
    @apply text-lg; // 18px
  }

  h4 {
    @apply text-base; // 16px
  }

  h5 {
    @apply text-base; // 16px
  }
}

@screen xs {
  h1 {
    @apply text-2xl; // 24px
  }

  h2 {
    @apply text-xl; // 20px
  }

  h3 {
    @apply text-lg; // 18px
  }

  h4 {
    @apply text-base; // 16px
  }

  h5 {
    @apply text-base; // 16px
  }
}

@screen sm {
  h1 {
    @apply text-2xl; // 24px
  }

  h2 {
    @apply text-xl; // 20px
  }

  h3 {
    @apply text-lg; // 18px
  }

  h4 {
    @apply text-base; // 16px
  }

  h5 {
    @apply text-base; // 16px
  }
}

@screen md {
  h1 {
    @apply text-3xl; // 30px
  }

  h2 {
    @apply text-2xl; // 24px
  }

  h3 {
    @apply text-xl; // 20px
  }

  h4 {
    @apply text-lg; // 18px
  }

  h5 {
    @apply text-base; // 16px
  }
}

@screen lg {
  h1 {
    @apply text-4xl; // 40px
  }

  h2 {
    @apply text-3xl; // 36px
  }

  h3 {
    @apply text-2xl; // 30px
  }

  h4 {
    @apply text-xl; // 24px
  }

  h5 {
    @apply text-lg; // 18px
  }
}
