/*
- For element plus manual color customization purpose.
- Colors related to the color inside `windi.config.ts`.
*/

// ------------ General Color -----------
$color-brand-primary: #31984F;
$color-brand-light: #E6F3EA;
$color-brand-dark: #25713B;
$color-faded-grey: #333;
$color-subtle-white: #FFFFFF90;
$color-box-grey: #45485D;
$color-box-grey-dark: #2f3140;
$color-steel-grey: #232436;
$color-steel-grey-light: #4a4c72;
$color-steel-grey-dark: #202031;
$color-mirage-grey: #141525;
$color-mirage-grey-light: #E3E3E5;
$color-mirage-grey-dark: #06060D;
$color-warning: #FFCD00;
$color-warning-light: #ffE166;
$color-warning-dark: #997B00;
$color-danger: #D46767;
$color-danger-light: #E5A4A4;
$color-danger-dark: #7F3E3E;

// -------------- Text Color ------------
$text-primary-color: #fff;
$text-warning-color: #FFCD00;
$text-danger-color: #D46767;
