# !WARNING: MANUAL ACTION REQUIRED!

# You must keep these file in sync:
# - `tools/deployment/api/production/config.yaml` -- CONFIG ONLY
# - `tools/deployment/api/staging/config.yaml` -- CONFIG ONLY
# - `tools/deployment/api/testing/config.yaml` -- CONFIG ONLY
# - `apps/api/.env.example` -- CONFIG & SECRETS
# - `apps/api/src/_services/env/keys.ts` -- CONFIG & SECRETS

apiVersion: v1
kind: ConfigMap
metadata:
  name: biodiversity-api-config
  namespace: staging
data:
  ## Config

  CORE_API_BASE_URL: https://staging-api.rfcx.org

