<div class="navbar">
  <nav class="bg-steel-grey">
    <div class="sm:(relative flex justify-between) items-center">
      <div class="justify-between flex-row relative flex items-center h-13">
        <div class="flex items-center">
          <mobile-menu-toggle-button v-model:isToggled="hasToggledMobileMenu" @toggleMobileMenu="toggleMobileMenu()"/>
          <router-link to="/">
            <div class="flex-shrink-0 flex items-center mx-4 <sm:(mx-2)">
              <img
                class="h-9 <sm:(h-7)"
                src="/src/assets/rfcx-logo.svg"
                alt="Rainforest connection logo"
              >
              <div class="font-semibold text-primary <sm:hidden">
                Biodiversity Analytics
              </div>
            </div>
          </router-link>
          <div 
            v-if="user"
            @click="toggleProjectSelector(true)"
            id="select-project-btn"
            class="navbar-item text-sm h-9 px-4 hover:bg-box-grey rounded-md cursor-pointer"
          >
            <span>{{ selectedProjectName }}</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-1 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </div>
        </div>
        <div class="flex items-center mx-4 sm:hidden">
          <auth-navbar-item-component/>
        </div>
      </div>
      <div class="flex-col sm:(flex-1 flex flex-row items-center) <sm:(border-t-box-grey border-t-1)" :class="hasToggledMobileMenu ? 'visible' : 'hidden' ">
        <router-link
            v-for="(item, idx) in navMenus"
            :key="'nav-menus-' + idx"
            :to="item.destination"
            class="navbar-item navbar-menu-item <sm:(h-10 justify-start pl-4)"
            @click="hasToggledMobileMenu = false"
          >
            {{ item.label }}
        </router-link>
        <a :href="arbimonLink" class="navbar-item navbar-menu-item <sm:(h-10 justify-start pl-4)" v-if="arbimonLink">
          Arbimon
          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 ml-1 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
          </svg>
        </a>
      </div>
      <div class="flex items-center mx-4 <sm:hidden">
        <auth-navbar-item-component/>
      </div>
    </div>
  </nav>
  <project-selector-component v-if="hasOpenedProjectSelector" @close-project-selector="toggleProjectSelector" />
</div>