# !WARNING: MANUAL ACTION REQUIRED!

# You must keep these file in sync:
# - `tools/deployment/api/production/config.yaml` -- CONFIG ONLY
# - `tools/deployment/api/staging/config.yaml` -- CONFIG ONLY
# - `tools/deployment/api/testing/config.yaml` -- CONFIG ONLY
# - `apps/api/.env.example` -- CONFIG & SECRETS
# - `apps/api/src/_services/env/keys.ts` -- CONFIG & SECRETS
 
# ==================================

## Secrets

# WARNING: Do not commit secrets in this example file
# Only write non-sensitive examples or leave blank

BIO_DB_DBNAME=postgres
BIO_DB_HOSTNAME=localhost
BIO_DB_PASSWORD=test
BIO_DB_PORT=5445
BIO_DB_SSL_ENABLED=false
BIO_DB_USER=postgres

AUTHO_ANONYMOUS_CLIENT_SECRET=''
GOOGLE_SPREADSHEET_API_KEY=''

# ==================================

## Config

CORE_API_BASE_URL=https://staging-api.rfcx.org

# ==================================

## Config (optional)

NODE_ENV=
FASTIFY_PORT=
FASTIFY_ADDRESS=
