name: 'Build-Deploy'
on:
  workflow_dispatch:
  schedule:
    # Every weekday at 02:19 UTC (09:19 in Thailand, to avoid GitHub Actions peak) https://crontab.guru
    - cron:  '19 2 * * 1-5'
  push:
    branches:
      - master
      - staging
concurrency: ${{ github.workflow }}-${{ github.ref }}
jobs:
  build-deploy:
    runs-on: ubuntu-20.04
    env:
      ECR_REGISTRY: '887044485231.dkr.ecr.eu-west-1.amazonaws.com'
    steps:
      - name: 'Setup: Docker Buildx'
        uses: docker/setup-buildx-action@94ab11c41e45d028884a99163086648e898eed25
        # v1 (1.6.0) @ 12 Nov 2021 https://github.com/docker/setup-buildx-action/tags

      - name: 'Setup: Configure AWS credentials'
        uses: aws-actions/configure-aws-credentials@0d9a5be0dceea74e09396820e1e522ba4a110d2f
        # v1 (1.5.11) @ 03 Nov 2021 https://github.com/aws-actions/configure-aws-credentials/tags
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'eu-west-1'

      - name: 'Setup: Git checkout'
        uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579
        # v2 (2.4.0) @ 03 Nov 2021 https://github.com/actions/checkout/tags

      - name: 'Setup: ENV from Git'
        run: |
          echo "BRANCH_NAME=`echo ${GITHUB_REF#refs/heads/}`" >> $GITHUB_ENV
          echo "COMMIT_TITLE=`git show -s --format='%s'`" >> $GITHUB_ENV
          echo "SHORT_SHA=`git rev-parse --short HEAD`" >> $GITHUB_ENV

      - name: 'Setup: ENV from Branch'
        uses: kanga333/variable-mapper@92703696e9a3f370901c3d53ae3836569b1055e5
        # v0 (0.2.2) @ 03 Nov 2021 https://github.com/kanga333/variable-mapper/tags
        with:
          key: '${{ env.BRANCH_NAME }}'
          map: |
            {
              "master": {
                "NAMESPACE": "production",
                "ECR_REPO_API": "biodiversity-api",
                "ECR_REPO_CLI": "biodiversity-cli",
                "ECR_REPO_WEBSITE": "biodiversity-website",
                "SLACK_WEBHOOK_SUCCESS": "${{ secrets.SLACK_ALERT_BIO_WEBHOOK }}",
                "SLACK_WEBHOOK_FAILURE": "${{ secrets.SLACK_ALERT_BIODT_WEBHOOK }}",
                "URL_WEB": "bio.rfcx.org",
                "URL_API": "bio.rfcx.org/api"
              },
              "staging": {
                "NAMESPACE": "staging",
                "ECR_REPO_API": "biodiversity-api/staging",
                "ECR_REPO_CLI": "biodiversity-cli/staging",
                "ECR_REPO_WEBSITE": "biodiversity-website/staging",
                "SLACK_WEBHOOK_SUCCESS": "${{ secrets.SLACK_ALERT_BIO_WEBHOOK }}",
                "SLACK_WEBHOOK_FAILURE": "${{ secrets.SLACK_ALERT_BIODT_WEBHOOK }}",
                "URL_WEB": "staging-bio.rfcx.org",
                "URL_API": "staging-bio.rfcx.org/api"
              },
              ".*": {
                "NAMESPACE": "testing",
                "ECR_REPO_API": "biodiversity-api/testing",
                "ECR_REPO_CLI": "biodiversity-cli/testing",
                "ECR_REPO_WEBSITE": "biodiversity-website/testing",
                "SLACK_WEBHOOK_SUCCESS": "${{ secrets.SLACK_ALERT_BIODT_WEBHOOK }}",
                "SLACK_WEBHOOK_FAILURE": "${{ secrets.SLACK_ALERT_BIODT_WEBHOOK }}",
                "URL_WEB": "testing-bio.rfcx.org",
                "URL_API": "testing-bio.rfcx.org/api"
              }
            }

      - name: 'Setup: Login to ECR'
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@aaf69d68aa3fb14c1d5a6be9ac61fe15b48453a2
        # v1 (1.3.3) @ 03 Nov 2021 https://github.com/aws-actions/amazon-ecr-login/tags

      - name: 'Build: Docker build API'
        uses: docker/build-push-action@a66e35b9cbcf4ad0ea91ffcaf7bbad63ad9e0229
        # v2 (2.7.0) @ 12 Nov 2021 https://github.com/docker/build-push-action/tags
        with:
          build-args: |
            mode=${{ env.NAMESPACE }}
          target: api
          file: tools/deployment/Dockerfile
          context: .
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          # secrets: |
          #   "EXAMPLE_SECRET=${{ secrets.EXAMPLE }}"
          tags: |
            ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPO_API }}:latest
            ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPO_API }}:${{ github.run_number }}
            ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPO_API }}:${{ env.SHORT_SHA }}

      - name: 'Build: Docker build CLI'
        uses: docker/build-push-action@a66e35b9cbcf4ad0ea91ffcaf7bbad63ad9e0229
        # v2 (2.7.0) @ 12 Nov 2021 https://github.com/docker/build-push-action/tags
        with:
          build-args: |
            mode=${{ env.NAMESPACE }}
          target: cli
          file: tools/deployment/Dockerfile
          context: .
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          # secrets: |
          #   "EXAMPLE_SECRET=${{ secrets.EXAMPLE }}"
          tags: |
            ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPO_CLI }}:latest
            ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPO_CLI }}:${{ github.run_number }}
            ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPO_CLI }}:${{ env.SHORT_SHA }}

      - name: 'Build: Docker build WEB'
        uses: docker/build-push-action@a66e35b9cbcf4ad0ea91ffcaf7bbad63ad9e0229
        # v2 (2.7.0) @ 12 Nov 2021 https://github.com/docker/build-push-action/tags
        with:
          build-args: |
            mode=${{ env.NAMESPACE }}
          target: website
          file: tools/deployment/Dockerfile
          context: .
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          # secrets: |
          #   "EXAMPLE_SECRET=${{ secrets.EXAMPLE }}"
          tags: |
            ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPO_WEBSITE }}:latest
            ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPO_WEBSITE }}:${{ github.run_number }}
            ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPO_WEBSITE }}:${{ env.SHORT_SHA }}

      - name: 'Deploy: Set image version'
        run: |
          find tools/deployment -name "*.yaml" -exec sed -i s/:latest/:${{ github.run_number }}/g {} +
          find tools/deployment -name "*.yaml" -exec sed -i s/JOB_NUMBER/${{ github.run_number }}/g {} +

      - name: 'Deploy: Start migrate'
        uses: actions-hub/kubectl@365773786ebd92c7b36b6ab80e17d4a213ab0cd1
        # v1 (1.21.2) @ 03 Nov 2021 https://github.com/actions-hub/kubectl/tags
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG_SUPER }}
        with:
          args: apply -f ./tools/deployment/cli/${{ env.NAMESPACE }}

      - name: 'Deploy: Wait for migrate to complete successfully'
        uses: actions-hub/kubectl@365773786ebd92c7b36b6ab80e17d4a213ab0cd1
        # v1 (1.21.2) @ 03 Nov 2021 https://github.com/actions-hub/kubectl/tags
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG_SUPER }}
        with:
          args: wait --for=condition=complete --timeout=300s -n ${{ env.NAMESPACE }} job/biodiversity-cli-migrate-${{ github.run_number }}

      - name: 'Deploy: Kubernetes apply API'
        uses: actions-hub/kubectl@365773786ebd92c7b36b6ab80e17d4a213ab0cd1
        # v1 (1.21.2) @ 03 Nov 2021 https://github.com/actions-hub/kubectl/tags
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG_SUPER }}
        with:
          args: apply -f ./tools/deployment/api/${{ env.NAMESPACE }}

      - name: 'Deploy: Kubernetes apply WEB'
        uses: actions-hub/kubectl@365773786ebd92c7b36b6ab80e17d4a213ab0cd1
        # v1 (1.21.2) @ 03 Nov 2021 https://github.com/actions-hub/kubectl/tags
        env:
          KUBE_CONFIG: ${{ secrets.KUBE_CONFIG_SUPER }}
        with:
          args: apply -f ./tools/deployment/website/${{ env.NAMESPACE }}

      # -------------------------------------------------- #
      # ALWAYS RUNS                                        #
      # -------------------------------------------------- #

      - name: 'Notify: Get Slack User'
        uses: kanga333/variable-mapper@92703696e9a3f370901c3d53ae3836569b1055e5
        # v0 (0.2.2) @ 03 Nov 2021 https://github.com/kanga333/variable-mapper/tags
        if: always()
        with:
          key: '${{ github.event.sender.login }}'
          map: |
            {
              "charles-allen": { "SLACK_MENTION_USERS": "U6LT2N3SS" },
              "Nutto55": { "SLACK_MENTION_USERS": "UC2NVRCAY" },
              "naluinui": { "SLACK_MENTION_USERS": "U19GA1FT2" },
              "antonyharfield": { "SLACK_MENTION_USERS": "U09HZUDUY" },
              "Crave-dev": { "SLACK_MENTION_USERS": "U02NUJCUV99" },
              ".*": { "SLACK_MENTION_USERS": "U6LT2N3SS,U19GA1FT2,UC2NVRCAY,U02NUJCUV99" }
            }

      - name: 'Notify: Slack Failed'
        uses: ravsamhq/notify-slack-action@c09876e2b9d663560dfe5ea229a8ae677b382afa
        # v1 (1.4.0) @ 03 Nov 2021 https://github.com/ravsamhq/notify-slack-action/tags
        if: always()
        with:
          notify_when: 'failure,warning'
          status: ${{ job.status }}
          notification_title: '❌ CD: Bio-Web <{repo_url}/tree/${{ env.BRANCH_NAME }}|${{ env.BRANCH_NAME }}>'
          message_format: '*FAILED* @ <{run_url}|${{ env.COMMIT_TITLE }}>'
          footer: '<{run_url}|{status_message}> at <{commit_url}|{commit_sha}> (triggered by ${{ env.SENDER }})'
          mention_users_when: 'failure,warnings'
          mention_users: ${{ env.SLACK_MENTION_USERS }}
        env:
          SLACK_WEBHOOK_URL: ${{ env.SLACK_WEBHOOK_FAILURE }}
          SENDER: ${{ github.event.sender.login || 'CRON' }}

      - name: 'Notify: Slack Success'
        uses: ravsamhq/notify-slack-action@c09876e2b9d663560dfe5ea229a8ae677b382afa
        # v1 (1.4.0) @ 03 Nov 2021 https://github.com/ravsamhq/notify-slack-action/tags
        if: always()
        with:
          notify_when: 'success'
          status: ${{ job.status }}
          notification_title: '✅ CD: Bio-Web <{repo_url}/tree/${{ env.BRANCH_NAME }}|${{ env.BRANCH_NAME }}>'
          message_format: '*SUCCESS:* <https://${{ env.URL_WEB }}|${{ env.URL_WEB }}> & <https://${{ env.URL_API }}|${{ env.URL_API }}>'
          footer: '<{run_url}|{status_message}> at <{commit_url}|{commit_sha}> (triggered by ${{ env.SENDER }})'
        env:
          SLACK_WEBHOOK_URL: ${{ env.SLACK_WEBHOOK_SUCCESS }}
          SENDER: ${{ github.event.sender.login || 'CRON' }}
