name: 'Integration Test'
on:
  workflow_call:
    inputs:
      runs-on:
        description: Platform to execute on
        type: string
        default: ubuntu-latest
        required: false
    outputs:
      test-outcome:
        description: Test outcome
        value: ${{ jobs.test.outputs.test-outcome }}
      migrate-seed-outcome:
        description: Migrate + Seed outcome
        value: ${{ jobs.test.outputs.migrate-seed-outcome }}
jobs:
  test:
    runs-on: ${{ inputs.runs-on }}
    outputs:
      test-outcome: ${{ steps.test.outcome }}
      migrate-seed-outcome: ${{ steps.migrate-seed.outcome }}

    services:
      postgres:
        image: timescale/timescaledb:latest-pg12
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: user_cli
          POSTGRES_PASSWORD: test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
          --name postgres
      s3mock:
        image: adobe/s3mock:latest
        env:
          initialBuckets: bucket
        ports:
          - 9090/tcp
        options: >-
          --name s3mock
      search:
        image: opensearchproject/opensearch:2.11.0
        env:
          discovery.type: single-node
          plugins.security.disabled: true
          bootstrap.memory_lock: true
        ports:
          - 9202:9200
        options: >-
          --name search

    steps:
      - name: 'Setup: Node'
        # v4 (4.0.0) @ 23 Oct 2023 https://github.com/actions/setup-node/tags
        uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65
        with:
          node-version: '18'

      - name: 'Setup: Git checkout'
        # v4 (4.1.1) @ 17 Oct 2023 https://github.com/actions/checkout/tags
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11

      - name: 'Setup: Database increase max connections'
        env:
          PGHOST: localhost
          PGDATABASE: postgres
          PGUSER: user_cli
          PGPASSWORD: test
        run: |
          docker exec -i postgres bash << EOF
            sed -i -e 's/max_connections = 100/max_connections = 1000/' /var/lib/postgresql/data/postgresql.conf
            sed -i -e 's/shared_buffers = 128MB/shared_buffers = 2GB/' /var/lib/postgresql/data/postgresql.conf
          EOF
          docker restart --time 0 postgres
          sleep 5
          psql -c 'SHOW max_connections;'

      - name: 'Setup: Database init scripts'
        env:
          PGHOST: localhost
          PGDATABASE: postgres
          PGUSER: user_cli
          PGPASSWORD: test
        run: |
          find tools/db/init.d -type f | sort | xargs -n1 -I % psql -f %

      - name: 'Setup: S3 connection'
        env:
          AWS_ACCESS_KEY_ID: fake
          AWS_SECRET_ACCESS_KEY: fake
          AWS_EC2_METADATA_DISABLED: true
        run: |
          aws s3 ls s3://bucket --summarize --endpoint-url http://localhost:${{ job.services.s3mock.ports[9090] }}

      - name: 'Cache: Dependencies'
        # v3 (4.2.2) @ 27 Feb 2025 https://github.com/actions/cache/tags
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf
        with:
          path: ~/.pnpm-store
          key: pnpm-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: pnpm-${{ runner.os }}

      - name: 'Verify: pnpm install'
        # v4 (4.0.0) @ 7 May 2024 https://github.com/pnpm/action-setup/tags
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2
        with:
          run_install: |
            - recursive: true
              args: [--frozen-lockfile]

      - name: 'Cache: Download built artifacts'
        uses: actions/download-artifact@v4.1.8
        with:
          name: libs

      - name: 'Cache: Unpack built artifacts'
        run: |
          tar -xzvf libs.tar.gz
          ls -R

      - name: 'Verify: Migrate + Seed'
        id: migrate-seed
        run: pnpm --filter=cli db-rms-int
        env:
          BIO_DB_PORT: 5432
          OPENSEARCH_PORT: 9202
          NODE_OPTIONS: '--max_old_space_size=6656'
      
      - name: 'Verify: Integration Tests'
        id: test
        run: pnpm ci-all-test-int
        env:
          BIO_DB_DBNAME: postgres
          BIO_DB_HOSTNAME: localhost
          BIO_DB_PASSWORD: test
          BIO_DB_PORT: 5432
          BIO_DB_SSL_ENABLED: false
          BIO_DB_USER: user_cli
          AUTHO_ANONYMOUS_CLIENT_SECRET: xyz
          CORE_API_BASE_URL: https://nowhere-api.rfcx.org
          NODE_OPTIONS: '--max_old_space_size=6656'
          AWS_S3_ACCESS_KEY_ID: fake
          AWS_S3_CORE_BUCKET_NAME: fake
          AWS_S3_SECRET_ACCESS_KEY: fake
          AWS_S3_BUCKET_NAME: 'bucket'
          AWS_S3_BUCKET_REGION: 'eu-west-1'
          AWS_S3_ENDPOINT: 'http://localhost:${{ job.services.s3mock.ports[9090] }}'
          AWS_EC2_METADATA_DISABLED: true
          OPENSEARCH_HOST: localhost
          OPENSEARCH_PORT: 9202
          OPENSEARCH_SSL_ENABLED: false
          ARBI_ASSISTANT_BASE_URL: https://adk-default-service-name-435981252511.europe-west1.run.app
          ARBIMON_LEGACY_API_BASE_URL: http://localhost:3000/legacy-api
