name: 'Build'
on:
  workflow_call:
    inputs:
      runs-on:
        description: Platform to execute on
        type: string
        default: ubuntu-latest
        required: false
      lint:
        description: Run linting
        type: boolean
        default: true
        required: false
      test:
        description: Run tests
        type: boolean
        default: true
        required: false
    outputs:
      build-outcome:
        description: Build outcome
        value: ${{ jobs.build.outputs.build-outcome }}
      lint-outcome:
        description: Lint outcome
        value: ${{ jobs.build.outputs.lint-outcome }}
      test-outcome:
        description: Test outcome
        value: ${{ jobs.build.outputs.test-outcome }}
jobs:
  build:
    runs-on: ${{ inputs.runs-on }}
    outputs:
      build-outcome: ${{ steps.build.outcome }}
      lint-outcome: ${{ steps.lint.outcome }}
      test-outcome: ${{ steps.test.outcome }}

    steps:
      - name: 'Setup: Node'
        # v3 (3.1.0) @ 01 Apr 2022 https://github.com/actions/setup-node/tags
        uses: actions/setup-node@5b52f097d36d4b0b2f94ed6de710023fbb8b2236
        with:
          node-version: '16'

      - name: 'Setup: Git checkout'
        # v3 (3.0.0) @ 02 Mar 2022 https://github.com/actions/checkout/tags
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846

      - name: 'Cache: Dependencies'
        # v3 (3.0.1) @ 30 Mar 2022 https://github.com/actions/cache/tags
        uses: actions/cache@136d96b4aee02b1f0de3ba493b1d47135042d9c0
        with:
          path: ~/.pnpm-store
          key: pnpm-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: pnpm-${{ runner.os }}

      - name: 'Cache: ESLint'
        if: ${{ inputs.lint }}
        # v3 (3.0.1) @ 30 Mar 2022 https://github.com/actions/cache/tags
        uses: actions/cache@136d96b4aee02b1f0de3ba493b1d47135042d9c0
        with:
          path: |
            .eslintcache
            */*/.eslintcache
          key: eslint-${{ runner.os }}-${{ github.sha }}
          restore-keys: eslint-${{ runner.os }}

      - name: 'Cache: Stylelint'
        if: ${{ inputs.lint }}
        # v3 (3.0.1) @ 30 Mar 2022 https://github.com/actions/cache/tags
        uses: actions/cache@136d96b4aee02b1f0de3ba493b1d47135042d9c0
        with:
          path: |
            .stylelintcache
            */*/.stylelintcache
          key: stylelint-${{ runner.os }}-${{ github.sha }}
          restore-keys: stylelint-${{ runner.os }}

      - name: 'Verify: pnpm install'
        # v2 (2.2.4) @ 08 May 2023 https://github.com/pnpm/action-setup/tags
        uses: pnpm/action-setup@c3b53f6a16e57305370b4ae5a540c2077a1d50dd
        with:
          version: 7
          run_install: |
            - recursive: true
              args: [--frozen-lockfile]

      - name: 'Verify: Build'
        id: build
        run: pnpm build-all
        env:
          NODE_OPTIONS: '--max_old_space_size=6656'

      - name: 'Verify: Lint'
        if: ${{ inputs.lint }}
        id: lint
        run: pnpm lint-all
        env:
          NODE_OPTIONS: '--max_old_space_size=6656'

      - name: 'Verify: Unit Tests'
        if: ${{ inputs.test }}
        id: test-unit
        run: pnpm ci-all-test-unit
        env:
          NODE_OPTIONS: '--max_old_space_size=6656'
      
      - name: 'Verify: Component Tests'
        if: ${{ inputs.test }}
        id: test-component
        run: pnpm ci-all-test-component
        env:
          NODE_OPTIONS: '--max_old_space_size=6656'
      
      # - name: 'Verify: UI Tests'
      #   uses: cypress-io/github-action@v2
      #   with:
      #     install: false
      #     start: pnpm serve
      #     project: apps/website
      #   env:
      #     NODE_OPTIONS: '--max_old_space_size=6656'

      - name: 'Archive: Tar files'
        run: shopt -s globstar; tar -czvf libs.tar.gz **/lib

      - name: 'Artifact: Upload'
        uses: actions/upload-artifact@v3
        with:
          name: libs
          retention-days: 1
          path: libs.tar.gz
