name: 'Integration Test'
on:
  workflow_call:
    inputs:
      runs-on:
        description: Platform to execute on
        type: string
        default: ubuntu-latest
        required: false
    outputs:
      test-outcome:
        description: Test outcome
        value: ${{ jobs.test.outputs.test-outcome }}
      migrate-seed-outcome:
        description: Migrate + Seed outcome
        value: ${{ jobs.test.outputs.migrate-seed-outcome }}
jobs:
  test:
    runs-on: ${{ inputs.runs-on }}
    outputs:
      test-outcome: ${{ steps.test.outcome }}
      migrate-seed-outcome: ${{ steps.migrate-seed.outcome }}

    services:
      postgres:
        image: timescale/timescaledb:latest-pg12
        env:
          POSTGRES_PASSWORD: test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: 'Setup: Node'
        # v3 (3.1.0) @ 01 Apr 2022 https://github.com/actions/setup-node/tags
        uses: actions/setup-node@5b52f097d36d4b0b2f94ed6de710023fbb8b2236
        with:
          node-version: '16'

      - name: 'Setup: Git checkout'
        # v3 (3.0.0) @ 02 Mar 2022 https://github.com/actions/checkout/tags
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846

      - name: 'Setup: Database init scripts'
        run: |
          find tools/db/init.d -type f | sort | PGPASSWORD=test xargs -n1 -I % psql -U postgres -h localhost -f %

      - name: 'Cache: Dependencies'
        # v3 (3.0.1) @ 30 Mar 2022 https://github.com/actions/cache/tags
        uses: actions/cache@136d96b4aee02b1f0de3ba493b1d47135042d9c0
        with:
          path: ~/.pnpm-store
          key: pnpm-${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: pnpm-${{ runner.os }}

      - name: 'Verify: pnpm install'
        # v2 (2.2.4) @ 08 May 2023 https://github.com/pnpm/action-setup/tags
        uses: pnpm/action-setup@c3b53f6a16e57305370b4ae5a540c2077a1d50dd
        with:
          version: 7
          run_install: |
            - recursive: true
              args: [--frozen-lockfile]

      - name: 'Cache: Download built artifacts'
        uses: actions/download-artifact@v3
        with:
          name: libs

      - name: 'Cache: Unpack built artifacts'
        run: |
          tar -xzvf libs.tar.gz
          ls -R

      - name: 'Verify: Migrate + Seed'
        id: migrate-seed
        run: pnpm --filter=cli db-rms-int
        env:
          BIO_DB_PORT: 5432
          NODE_OPTIONS: '--max_old_space_size=6656'
      
      - name: 'Verify: Integration Tests'
        id: test
        run: pnpm ci-all-test-int
        env:
          BIO_DB_DBNAME: postgres
          BIO_DB_HOSTNAME: localhost
          BIO_DB_PASSWORD: test
          BIO_DB_PORT: 5432
          BIO_DB_SSL_ENABLED: false
          BIO_DB_USER: postgres
          AUTHO_ANONYMOUS_CLIENT_SECRET: xyz
          CORE_API_BASE_URL: https://nowhere-api.rfcx.org
          NODE_OPTIONS: '--max_old_space_size=6656'
      
